---
import BaseLayout from "$layouts/BaseLayout.astro";
import { BlogPost, contentfulClient } from "$lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Destination } from "$lib/contentful";
import PageCover from "$components/PageCover.astro";
import type { InferGetStaticPropsType } from "astro";
import { image } from "$lib/utils";

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<Destination>({
    content_type: "destination",
  });

  const pages = entries.items.map(item => ({
    params: { slug: item.fields.slug },
    props: {
      name: item.fields.name,
      cover: item.fields.cover,
      heading: item.fields.heading,
      continent: item.fields.continent,
      description: documentToHtmlString(item.fields.description),
    },
  }));

  return pages;
}

const { name, cover, heading, continent, description } = Astro.props;
const { slug } = Astro.params;

const posts = await contentfulClient.getEntries<BlogPost>({
  content_type: "blogPost",
  "fields.destination.sys.contentType.sys.id": "destination",
  "fields.destination.fields.slug[match]": slug,
});
---

<BaseLayout title={name}>
  <PageCover center cover={cover?.fields.file?.url} slot="before-content">
    <h1>{name}</h1>
  </PageCover>

  <div class="space-y-sm">
    <section>
      <h1 class="lowercase tracking-widest font-semibold text-neutral-500 dark:text-neutral-400">{name}</h1>
      <hr class="border-indigo-600 border-[1.5px] w-sm my-4">
      <div class="space-y-4">
        <h2 class="font-bold text-2xl">{heading}</h2>
        <article set:html={description} />
      </div>
    </section>

    <section>
      <h1 class="lowercase tracking-widest font-semibold text-neutral-500 dark:text-neutral-400">all posts</h1>
      <hr class="border-indigo-600 border-[1.5px] w-sm my-4">
      <ul class="grid grid-cols-4 gap-4">
        {posts.items.map(item => (
          <li class="space-y-2 group">
            <a href={`/posts/${item.fields.slug}`}
              style={`background-image: url(${image(item.fields.cover?.fields.file?.url, 500)});`}
              class="block h-40 bg-cover bg-center hover-image"></a>
            <h1 class="font-semibold">{item.fields.title}</h1>
          </li>
        ))}
      </ul>
    </section>
  </div>
</BaseLayout>
