---
import BaseLayout from "$layouts/BaseLayout.astro";
import { contentfulClient } from "$lib/contentful";
import type { BlogPost } from "$lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<BlogPost>({
    content_type: "blogPost",
  });

  const pages = entries.items.map(item => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      content: documentToHtmlString(item.fields.content),
      date: new Date(item.fields.date).toLocaleDateString(),
      cover: item.fields.cover,
      destination: item.fields.destination,
    },
  }));

  return pages;
}

const { content, title, date, cover, destination } = Astro.props;
---

<BaseLayout title={title}>
  <h1>{title}</h1>
  <time>{date}</time>
  <img src={cover.fields.file.url} alt={cover.fields.description}>
  <article set:html={content} />
  <small>{destination.fields.name}</small>
</BaseLayout>
