---
import PageCover from "$components/PageCover.astro";
import BaseLayout from "$layouts/BaseLayout.astro";
import { contentfulClient } from "$lib/contentful";
import type { BlogPost } from "$lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<BlogPost>({
    content_type: "blogPost",
  });

  const pages = entries.items.map(item => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      type: item.fields.type,
      content: documentToHtmlString(item.fields.content),
      date: new Date(item.fields.date).toLocaleDateString(),
      cover: item.fields.cover,
      destination: item.fields.destination,
    },
  }));

  return pages;
}

const { content, title, date, cover, destination } = Astro.props;
---

<BaseLayout title={title}>
  <PageCover center cover={cover.fields.file.url} slot="before-content">
    <div class="text-base tracking-widest">
      <time class="inline">{date}</time>
      <span>|</span>
      <a href={`/destinations/${destination.fields.slug}`} class="inline">
        {destination.fields.slug}
      </a>
    </div>

    <h1>{title}</h1>
  </PageCover>

  <article id="content" class="m-md" set:html={content} />
</BaseLayout>

<style>
  article :global(p) {
    @apply my-8 font-light text-lg;
  }
</style>
