---
import BaseLayout from "$layouts/BaseLayout.astro";
import PageCover from "$components/PageCover.astro";

import type { BlogPost } from "$lib/contentful";
import { contentfulClient } from "$lib/contentful";
import { image } from "$lib/utils";

import HorizontalScroll from "$components/HorizontalScroll.svelte";
import TiltCard from "$components/TiltCard.svelte";

const latestPosts = await contentfulClient.getEntries<BlogPost>({
  content_type: "blogPost",
  order: ["-fields.date"],
  limit: 8,
});

const featuredPosts = await contentfulClient.getEntries<BlogPost>({
  content_type: "blogPost",
  "fields.featured": true,
  limit: 4,
})
---

<BaseLayout>
  <PageCover center cover="/covers/home.webp" slot="before-content">
    <small class="text-base">啟程向世界學習</small>
    <h1 class="font-fancy text-4xl">世界是学校</h1>
  </PageCover>

  <section class="flex items-stretch gap-8">
    <div class="bg-[url(/homepage/home.jpg)] bg-cover bg-center w-4/5"></div>
    <span class="space-y-4">
      <p>我們一家把房子、車子和家當都賣掉，帶著一卡皮箱，到世界各地旅行，把世界當學校。 這裡紀錄了我們一家四口體驗生活即教育的環球旅程。</p>
      <p>這裡沒有行程規劃，或是購物、餐廳資訊，有的是我們在路途中的經歷和反思，有的是爸媽和孩子一起脫離教育體系，從生活中學習知識和能力的過程，從實際腳踏過的土地來了解地理和歷史。</p>
      <p>這裡沒有網美照，或是專業的攝影圖片，有的是我們在一路上遇到的人事物，累積成許許多多的故事，有的是我們站在大自然前的震撼，親眼見到人類藝術結晶的感動，以後會成為我們一家的共同記憶。</p>
      <p>這裡沒有交通資訊，或是預算規劃，有的是我們在每個城市所做的觀察，拿來和原本居住在的城市做比較，有的是我們在每個國家吃到的特別食物，我們在每個街道轉角發現的小驚喜。</p>
      <p>Worldschooling 是一種生活方式，沒有一定的模式和方法，沒有一定的時間長度，這裡分享了我們的旅程，希望能帶給你不同的思維，啟程向世界學習。</p>
      <p>世界是學校，跟我們一起 Worldschooling!</p>
    </span>
  </section>

  <hr class="my-sm dark:border-neutral-600">

  <section>
    <HorizontalScroll client:visible>
      {latestPosts.items.map(item => (
        <a href={`/posts/${item.fields.slug}`} class="h-full w-64 flex flex-col gap-2 flex-shrink-0 group">
          <div class="min-h-[80%] bg-cover bg-center hover-image"
            style={{ backgroundImage: `url('${image(item.fields.cover?.fields.file?.url, 400)}')`}}>
          </div>
          <div>
            <time class="text-xs text-neutral-500">{item.fields.date}</time>
            <h1 class="text-sm">{item.fields.title}</h1>
          </div>
        </a>
      ))}
    </HorizontalScroll>
  </section>

  <hr class="my-sm dark:border-neutral-600">

  <section>
    <h1 class="text-xl emphasis mb-8">Featured Posts</h1>

    <div class="flex h-tall items-stretch gap-4">
      {featuredPosts.items.map(item => (
        <TiltCard
          client:visible
          url={`/posts/${item.fields.slug}`}
          src={image(item.fields.cover?.fields.file?.url, 1000)}>
          {item.fields.title}
        </TiltCard>
      ))}
    </div>
  </section>
</BaseLayout>
